@import 'reset';


body{

    background: #fff;

    #container {

        display: flex;
        height: 400px;
        width: 1000px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

        .memo{
            display: flex;
            width: 400px;
            flex-direction: column;
            border: solid 2px #1af3cf;
            border-radius: 8px;
            margin: 15px;
            padding:10px;
            background: #ebe5e5;

            span{
                width:100px;
                margin-top: 10px;
                cursor: pointer; 
            }

            h4{
                margin-top: 10px;
                font-weight: bold;
                font-size: 20px;
            }

            label{
                margin-top: 10px;
                padding-bottom: 10px;
                 
            }

            .Details{

                display: none;
                
                h5{
                    margin-top: 10px;
                    text-decoration: underline;
                     
                }

                p{
                    
                    margin-top: 10px;
                }

                button{
                    
                    margin-top: 10px;
                }
            }
        }

    }

    form{
        display:flex;
        flex-direction: column;
        width: 500px;
        height: 280px;
        background-color: azure;
        padding:15px;
        border: solid 2px rgb(26, 243, 207);
        border-radius: 25px;        
        align-items:center; 
        margin: 0 auto; 
        margin-top: 20px;

        label{
            margin-top:10px;
        }

        #submit_Rdv{
            margin-top:10px;
        }

        
    }



}