<div class="memo">

     

        <span class="supprimer"> Supprimer 🗑 </span>
        <span class="modifier"> Modifier 🖋 </span>
        <h4></h4>

        <label  id=Rdv_date_memo for="">
                Du <input type="date" class="debut" value="">&nbsp;
                au <input type="date" class="fin" value="">
        </label>

        <button class="Open" value="Masquer" >Cliquez ici pour voir le descriptif</button>
    
        <div class='Details'>
                
                <h5>Descriptif:</h5>

                <p></p> 
                
                <button class="Close"> Fermer le descriptif </button>

                
        </div>
    
</div>

